Repository fischer-c187/react-datepicker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

refactor: update project configuration for library creation
  lib/main.ts
  lib/vite-env.d.ts
  package-lock.json
  package.json
  src/App.tsx
  tsconfig-build.json
  tsconfig.json
  vite.config.ts
Due: eslint, prettier --write

feat: Implement base input component for datepicker
  lib/components/Datepicker/Datepicker.module.css
  lib/components/Datepicker/Datepicker.tsx
Due: eslint, prettier --write

feat: implement calendar components
  lib/components/Calendar/Calendar.tsx
Due: eslint

chore: add icon bracket svg
  lib/assets/angle-left.svg
  lib/assets/angle-right.svg
  lib/assets/arrow-left.svg
  lib/assets/arrow-right.svg
Due: none

chore: Add date-fns and update dependency management
  package-lock.json
  package.json
Due: prettier --write

chore(eslint): Add new rules for ESLint configuration
  .eslintrc.json
Due: prettier --write

refactor(calendar): Add props to Calendar component
  lib/components/Datepicker/Datepicker.tsx
Due: eslint

feat(daysmonth): Implement days component in datepicker
  lib/components/Calendar/days.tsx
Due: eslint

feat: Implement selector, monthselection, yearSelection components
  lib/components/Calendar/MonthSelection.tsx
  lib/components/Calendar/YearSelection.tsx
  lib/components/Selector/Selector.module.css
  lib/components/Selector/Selector.tsx
Due: eslint, prettier --write

feat: Add types files and utility functions for date manipulation
  lib/interfaces/commonTypes.ts
  lib/utils/date.ts
Due: eslint

style(input): Center datepicker components vertically and horizontally
  src/App.module.css
  src/style/index.css
Due: prettier --write

feat(datepicker): Add context for datepicker
  lib/components/Calendar/context.ts
Due: eslint

feat(datepicker): Implement weekDayLabels to display week days in 'DD' format
  lib/components/Calendar/WeekDayLabels.tsx
Due: eslint

refactor(app): Enhance datepicker with additional props
  src/App.tsx
Due: eslint

feat(datepicker): Implement datepicker component
  lib/components/Datepicker/Datepicker.tsx
Due: eslint

style(calendar): Enhance calendar display and module styling
  lib/components/Calendar/Calendar.module.css
Due: prettier --write

refactor(datepicker): Separate logic into different hooks and components
  lib/components/DateInput/DateInput.tsx
  lib/components/Datepicker/Datepicker.tsx
  lib/hook/useLastValidateDate.ts
  lib/hook/useToggleCalendar.ts
Due: eslint

refactor(calendar): Replace direct component rendering with children prop usage
  lib/components/Calendar/Calendar.tsx
Due: eslint

chore: add main.ts for component exports
  lib/main.ts
Due: eslint

feat(calendar): Add new DefaultCalendar component
  lib/components/Calendar/DefaultCalendar.tsx
Due: eslint

refactor: Update `CalendarContext` type for `onClickNewDate`
  lib/components/Calendar/context.ts
Due: eslint

refactor(calendar): Rename 'onChange' prop to 'updateDateState'
  src/App.tsx
Due: eslint

refactor: centralize component prop types in componentsTypes.ts
  lib/interfaces/componentsTypes.ts
Due: eslint

style(datepicker): align styling with mockup specifications
  lib/components/Calendar/Calendar.module.css
  lib/components/Calendar/Day/Day.module.css
  lib/components/DateInput/DateInput.module.css
  lib/components/Datepicker/Datepicker.module.css
  lib/components/Selector/Selector.module.css
Due: prettier --write

refactor(calendar): reorganize file structure for better clarity
  lib/components/Calendar/context/context.ts
Due: eslint

refactor: enhance Days component with Day subcomponent
  lib/components/Calendar/Day/Day.tsx
  lib/components/Calendar/days.tsx
Due: eslint

refactor(calendar): enhance code and separate datePart logic into useDateParts hook
  lib/components/Calendar/Calendar.tsx
  lib/hook/useDateParts.ts
Due: eslint

refactor(calendar): replace dateParts state with calendarReducer
  lib/components/Calendar/MonthSelection.tsx
  lib/components/Calendar/WeekDayLabels.tsx
  lib/components/Calendar/YearSelection.tsx
  lib/components/Calendar/reducer/CalendarReducer.ts
Due: eslint

chore: update styling file variable names for consistency
  lib/components/Calendar/DefaultCalendar.tsx
  lib/components/DateInput/DateInput.tsx
  lib/interfaces/commonTypes.ts
  lib/utils/date.ts
  src/App.module.css
  src/App.tsx
Due: eslint, prettier --write

docs(calendar): add JSDoc comments for better code documentation
  lib/components/Calendar/Calendar.tsx
  lib/components/Datepicker/Datepicker.tsx
  lib/hook/useDateParts.ts
Due: eslint

docs: add readme
  readme.md
Due: prettier --write

chore: configure project for testing and add necessary packages
  .eslintrc.json
  .gitignore
  package-lock.json
  package.json
  setupTests.ts
  tsconfig.json
  vite.config.ts
Due: eslint, prettier --write

refactor(calendar): Move Day component to components folder
  lib/components/Day/Day.module.css
  lib/components/Day/Day.tsx
Due: eslint, prettier --write

chore: Add data-testid attribute to element in test
  lib/components/Calendar/Calendar.tsx
  lib/components/Calendar/days.tsx
  lib/components/DateInput/DateInput.tsx
  lib/components/Datepicker/Datepicker.tsx
  lib/components/Selector/Selector.tsx
Due: eslint

test: Add tests for all components
  lib/components/Calendar/Calendar.test.tsx
  lib/components/Calendar/reducer/CalendarReducer.test.ts
  lib/components/Datepicker/Datepicker.test.tsx
  lib/utils/date.test.ts
Due: eslint

refactor(calendar): Refine types in calendarReducer and actions
  lib/components/Calendar/reducer/CalendarReducer.ts
Due: eslint

chore: change path of datepicker
  src/App.tsx
Due: eslint

Update imports and ignore test files in Vite config
  src/App.tsx
  vite.config.ts
Due: eslint

refactor: Refactor DateInput and Datepicker components to enhance customization
  lib/components/DateInput/DateInput.tsx
  lib/components/Datepicker/Datepicker.test.tsx
  lib/components/Datepicker/Datepicker.tsx
  lib/interfaces/componentsTypes.ts
  src/App.module.css
  src/App.tsx
Due: eslint, prettier --write

1.1.0
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint: any of: *.{js,ts,tsx,jsx}
  prettier --write: any of: *.{md,json,css}
