Repository fischer-c187/react-datepicker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx,jsx}": "eslint",
  "*.{md,json,css}": "prettier --write"
}

fix: add z index 10 on calendar
  lib/components/Calendar/Calendar.module.css
Due: prettier --write

1.1.1
  package-lock.json
  package.json
Due: prettier --write

feat(Datepicker): add variant with ref support named DatepickerWithRef
  .eslintrc.json
  lib/components/DateInput/DateInput.tsx
  lib/components/Datepicker/Datepicker.tsx
  lib/interfaces/componentsTypes.ts
Due: eslint, prettier --write

1.1.2
  package-lock.json
  package.json
Due: prettier --write

1.2.0
  package-lock.json
  package.json
Due: prettier --write

docs: update readme
  readme.md
Due: prettier --write

docs: add jsdoc
  lib/components/Calendar/MonthSelection.tsx
  lib/components/Calendar/WeekDayLabels.tsx
  lib/components/Calendar/YearSelection.tsx
  lib/components/Calendar/days.tsx
  lib/components/DateInput/DateInput.tsx
  lib/components/Day/Day.tsx
  lib/components/Selector/Selector.tsx
  lib/hook/useDateParts.ts
  lib/hook/useLastValidateDate.ts
  lib/hook/useToggleCalendar.ts
Due: eslint

docs: add section for DatepickerWithRef
  readme.md
Due: prettier --write

1.3.0
  package-lock.json
  package.json
Due: prettier --write

chore: add prerequisites and keywords, description entry in package.json
  package.json
  readme.md
Due: prettier --write
